# Service information env
export SERVICE_TYPE=U-NS
export FQDN=u-ns01.local.cyphonic.org
export PORT=4504
export NS_IPV4=10.0.3.140
export NS_IPV6=fde4:db8::140 # Replace "::" for use IPv4

# Other service information env
export DS_IPV4=10.0.3.160
export DS_IPV6=fde4:db8::160 # Replace "::" for use IPv4
export DS_FQDN=ds.local.cyphonic.org
export DS_PORT=4506

# Database env
export DATABASE_HOST=cockroach
export DATABASE_NAME=cyphonic
export DATABASE_USER=cyphonic
export DATABASE_PORT=26257
export DATABASE_SSL_MODE=disable
export DATABASE_TIME_ZONE=Asia/Tokyo

# Logging env
export DEBUG_LOG_FILE_PATH=/var/log/cyphonic/u-ns-debug.json
export ERROR_LOG_FILE_PATH=/var/log/cyphonic/u-ns-error.json

# Mode env
export DEBUG_MODE=true
export DB_DEBUG_MODE=false
