export SERVICE_TYPE=FS
export FQDN=fs.local.cyphonic.org
export TLS_PORT=4510
export QUIC_PORT=433

export DATABASE_HOST=cockroach
export DATABASE_NAME=cyphonic
export DATABASE_USER=cyphonic
export DATABASE_PORT=26257
export DATABASE_SSL_MODE=disable
export DATABASE_TIME_ZONE=Asia/Tokyo

export ROOT_CERTIFICATE_NAME=ca.pem
export ACCESS_KEY=admin
export SECRET_KEY=cyphonic2023
export REGION=ap-northeast-1
export END_POINT=https://10.10.10.91
export BUCKET_NAME=fs-certificate
export CERTIFICATE_LOCATION=local

export DEBUG_LOG_FILE_PATH=/var/log/fs-debug.json
export ERROR_LOG_FILE_PATH=/var/log/fs-error.json

export DEBUG_MODE=true
export DB_DEBUG_MODE=false
