# Service information env
export SERVICE_TYPE=DS
export FQDN=ds.local.cyphonic.org
export PORT=4506

# Other service information env
# Database env
export DATABASE_USER=cyphonic
export DATABASE_HOST=cockroach
export DATABASE_PORT=26257
export DATABASE_NAME=cyphonic
export DATABASE_SSL_MODE=disable
export DATABASE_TIME_ZONE=Asia/Tokyo

export REDIS_ADDRESSES=hoge

# Logging env
export DEBUG_LOG_FILE_PATH=/var/log/cyphonic/ds-debug.json
export ERROR_LOG_FILE_PATH=/var/log/cyphonic/ds-error.json

# Mode env
export CACHE_CLUSTER_MODE=false
export DEBUG_MODE=true
export DB_DEBUG_MODE=false
