# Service information env
export SERVICE_TYPE=U-TRS
export FQDN=u-trs01.local.cyphonic.org
export PORT=4507
export TRS_IPV4=10.0.3.170
export TRS_IPV6=fde4:db8::170 # Replace "::" for use IPv4

# Other service information env
# Database env
export DATABASE_HOST=cockroach
export DATABASE_NAME=cyphonic
export DATABASE_USER=cyphonic
export DATABASE_PORT=26257
export DATABASE_SSL_MODE=disable
export DATABASE_TIME_ZONE=Asia/Tokyo

# Logging env
export DEBUG_LOG_FILE_PATH=/var/log/cyphonic/u-trs-debug.json
export ERROR_LOG_FILE_PATH=/var/log/cyphonic/u-trs-error.json

# Mode env
export DEBUG_MODE=true
export DB_DEBUG_MODE=false
export INSTANCE_REGISTRATION=true
