export FQDN=controller.local.cyphonic.org
export PORT=8081
export DATABASE_HOST=cockroach
export DATABASE_NAME=cyphonic
export DATABASE_USER=cyphonic
export DATABASE_PORT=26257
export DATABASE_SSL_MODE=disable
export DATABASE_TIME_ZONE=Asia/Tokyo
export DEBUG_MODE=true
export DB_DEBUG_MODE=false
export TZ=Asia/Tokyo
