# Service information env
export SERVICE_TYPE=PS
export FQDN=ps.local.cyphonic.org
export TLS_PORT=4502
export QUIC_PORT=443

export ROOT_CERTIFICATE_NAME=ca.pem
export ACCESS_KEY=admin
export SECRET_KEY=cyphonic2023
export REGION=ap-northeast-1
export END_POINT=https://10.10.10.91
export BUCKET_NAME=ps-certificate
export CERTIFICATE_LOCATION=local

export ACCESS_SECRET_KEY=ACCESS_SECRET_KEY

export VIRTUAL_IP_VERSION=4

# Other service information env
# Database env
export DATABASE_HOST=cockroach
export DATABASE_NAME=cyphonic
export DATABASE_USER=cyphonic
export DATABASE_PORT=26257
export DATABASE_SSL_MODE=disable
export DATABASE_TIME_ZONE=Asia/Tokyo

# Logging env
export DEBUG_LOG_FILE_PATH=/var/log/cyphonic/ps-debug.json
export ERROR_LOG_FILE_PATH=/var/log/cyphonic/ps-error.json

# Mode env
export DEBUG_MODE=true
export DB_DEBUG_MODE=false
